#footer{
	color: white;
	text-align: center;
<<<<<<< HEAD
	background: blue;
=======
	background: black;
>>>>>>> c5c81bca3497913a954e3a12b3d6ea1d0a58c029
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:teal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(136, 21, 126);
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: slateblue;
    color:white;
    text-align: center;
    font-size: x-large;
}

#parrafo{
    color:slateblue;
}

#parrafo1{
    color:tomato;
}

#parrafo2{
    color:olive;
}
